.second__inner{
    align-items: center;
    background-color: #222F33;
    height: 300px;
}

.second__level__info {
    display: flex;
    align-items: center;
}


.second__level__h2 {
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 30px;
    line-height: 38px;
    color: #FFFFFF;
    padding-top: 54px;
}

.second__level__p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    height: 120px;
    width: 380px;
    color: #FFFFFF;
    opacity: 0.7;
    margin-right: 45px;
}