.first__level__info {
    display: flex;
    justify-content: space-between;
}

.first__level__h2 {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 1.875rem;
    line-height: 2.375rem;
    margin-top: 3.125rem;
    padding-bottom: 0.625rem;
    color: #222F33;
}

.first__level__p {
    width: 25rem;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.625rem;
    color: #646D70;
}

.first__level__read__more {
    border: 1px solid #646D70;
    margin-top: 2.563rem;
}

@media screen and (max-width: 850px) {
    .first__level__info {
        display: block;
        justify-content: space-between;
    }

    .first__level__h2 {
        
        font-size: 2rem;
        line-height: 2.375rem;;
        padding-bottom: 2rem;

        margin-top: 2rem;
    }
    

    .first__level__p {
        width: auto;
        margin: 0 auto;
        font-size: 1.2rem;
        line-height: 2.5rem;
        color: black;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .first__level__read__more {
        font-size: 1rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
        margin-bottom: 3rem;
        border: 0.2rem solid #646D70;
        border-radius: 0.5rem;
    }

    .first__level__image{
        display: none;
        
    }
    
}

@media screen and (max-width: 460px) {

    .first__level__info {
        display: block;
        justify-content: space-between;
    }

    .first__level__h2 {
        
        font-size: 2rem;
        line-height: 2.375rem;;
        padding-bottom: 2rem;

        margin-top: 2rem;
    }
    

    .first__level__p {

        margin: 0 auto;
        font-size: 1.2rem;
        line-height: 2.5rem;
        color: black;
    }

    .first__level__read__more {
        font-size: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 3.5rem;
        margin-bottom: 3rem;
        border: 0.2rem solid #646D70;
        border-radius: 0.5rem;
    }
    .first__level__image{
        width: 100%;
        
    }
}



