.last__level__info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 32.813rem;
}

.last__level__list {
    flex-direction: column;
}

.last__level__lists {
    display: flex;
}

.last__level__h3 {
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 1.125rem;
    line-height: 1.438rem;
    color: #222F33;
}

.last__level__p {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.375rem;
    height: 4.125rem;
    width: 9.688rem;
    padding-bottom: 2.313rem;
    padding-right: 0.938;
    color: #646D70;
    opacity: 0.7;
}

.last__level__image {
    margin-left: 6.25rem;
    margin-right: 4.688rem;
}

@media screen and (max-width: 805px) {


    .last__level__image {
        width: 50%;
    }


}

@media screen and (max-width: 850px) {


    .last__level__image {
        display: none;
    }

    .last__level__lists {
        margin: auto;

    }

    .last__level__info {
        display: block;
        height: auto;
        flex-direction: column;
    }

    .last__level__h3 {

        font-size: 1rem;
        line-height: 1.2rem;
        padding-bottom: 0.5rem;
        padding-top: 1rem;
    }

    .last__level__p {
        font-size: 1rem;
        line-height: 1.2rem;
        height: auto;
        width: auto;
        padding-bottom: 1.2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        color: black;

    }


}

@media screen and (max-width: 460px) {

    .last__level__lists {
        display: block;
    }

    .last__level__info {
        display: block;
        height: auto;
        flex-direction: column;
    }

    .last__level__image {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
        width: 100%;
    }

    .last__level__h3 {

        font-size: 1.5rem;
        line-height: 1.8rem;
        padding-bottom: 0.5rem;
    }

    .last__level__p {
        font-size: 1.2rem;
        line-height: 1.4rem;
        height: auto;
        width: auto;
        padding-bottom: 1.6rem;
        padding-left: 2rem;
        padding-right: 2rem;
        color: black;

    }
}